:root {
    /* variables */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 1fr;
}

.sidebar {
    grid-area: 1 / 1 / span 1 / span 1;
    border: 5px solid green;
}

main {
    grid-area: 1 / 2 / span 1 / span 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 1fr;
}

.info-header {
    grid-area: 1 / 1 / span 1 / span 1;
    border: 5px solid blue;
}

.tab {
    width: 100%;
    grid-area: 2 / 1 / span 1 / span 1;
    border: 5px solid purple;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-header {
    border: 2px solid red;
}

/* ----- Matchup Tab ----- */
.matchup-tab {
    width: 100%;
}

.matchup-summary {
    display: flex;
    justify-content: space-evenly;
}